div {
  width: 325px;
  border: 2px solid grey;
  margin: 15px;
  padding: 15px;
}

h1 {
  font-family: Courier;
}

body {
  background-color: #dfe2e2;
}

h1 {
  color: blue;
}

.container {
  border: 2px solid grey;
  padding: 10px;
  margin: 1px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
